.text-marquee-container {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  
  max-width: 250px;
  height: 36px;
  margin: 15px auto;
  
  .marquee-text {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  
  &:active {
    transform: scale(0.95);
  }
}

@media (max-width: 375px) {
  .text-marquee-container {
    max-width: 200px;
    height: 32px;
    
    .marquee-text {
      font-size: 12px;
    }
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .text-marquee-container {
    margin: 8px auto;
    height: 30px;
    max-width: 200px;
    
    .marquee-text {
      font-size: 12px;
    }
  }
} 